<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobiocean">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature android:name="android.hardware.location" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ui.MobiApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.ActivationActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_SENT" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mobiocean.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".ui.OTP"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.ScreenFlashActivity" />
        <activity
            android:name="org.sn.activities.GpsOffActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".ui.Home"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <!--
             <activity
            android:name=".ui.ActivationActivity"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".ui.ContactListMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Conveyance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CalendarSyncActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DownloadFeatureActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.AttendanceActivity" />
        <activity
            android:name="com.browser.gingerbox.BrowserMainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:hardwareAccelerated="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>
            <!--
                  For these schemes where any of these particular MIME types
                  have been supplied, we are a good candidate.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <!-- For viewing saved web archives. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:mimeType="application/x-webarchive-xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.browser.gingerbox.Settings"
            android:configChanges="orientation|screenSize|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.GINGERBOXSSETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Lock"
            android:label="@string/title_activity_lock"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.BugReport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PassWordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <receiver android:name="org.sn.recievers.GpsLocationReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.sn.recievers.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.CallDetectService"
            android:enabled="true" />
        <service
            android:name=".service.AppBlock"
            android:enabled="true" />
        <service
            android:name=".service.UploadService"
            android:enabled="true" />
        <service
            android:name=".service.UpLoadDocsIntentService"
            android:enabled="true" />
        <service
            android:name=".service.UplopadLogsToServer"
            android:enabled="true" />
        <service
            android:name=".service.SyncIntentService"
            android:enabled="true" />
        <service
            android:name=".service.AudioRecorderIntentService"
            android:enabled="true" />
        <service
            android:name=".service.UploadFileToserverIntentService"
            android:enabled="true" />
        <service
            android:name=".service.DeviceInfoIntentService"
            android:enabled="true" />
        <service
            android:name=".service.WindowChangeDetectingService"
            android:label="@string/accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
        <service
            android:name=".service.UpdateService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <receiver android:name=".receiver.AirplaneModeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.OutgoingReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter > <!--android:priority="2147483647"-->
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
                <action android:name="android.intent.action.REBOOT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.OneMinuteTimerReceiver" />
        <!-- This is required this receiver to become device admin component. -->
        <receiver
            android:name=".receiver.DemoDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>

                <!-- This action is required -->
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />
        </receiver>
        <receiver android:name=".receiver.ApplicationChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.mobiocean" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".gcm.GcmServerIntentService"
            android:enabled="true" />
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ui.RegistrationActivity" />

        <service android:name=".service.OneMinuteService" />

        <activity android:name="org.sn.activities.SOSAutoAnswerActivity" />

        <receiver android:name="org.sn.recievers.MyCustomReceiver">
            <intent-filter>
                <action android:name="org.sn.recievers.MyCustomReceiver" />
            </intent-filter>
        </receiver>

        <!-- Rsm Conveyance STARTS -->

        <activity android:name="org.conveyance.main.RMainActivity" />
        <activity android:name="org.conveyance.main.RAddCustomerActivity" />
        <activity android:name="org.conveyance.main.RVisitActivity" />
        <activity android:name="org.conveyance.main.RRemarksActivity" />

        <service android:name="org.conveyance.services.RUploadDetailsService" />
        <service android:name="org.conveyance.services.RGetTowerLocationService" />

        <!-- Rsm Conveyance ENDS -->

        <service android:name=".service.OneMinuteTimerService" />
        <service
            android:name="org.sn.services.MobiVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <activity android:name="org.sn.activities.StartVpnActivity" />

        <!--Secure Storage Starts-->
        <activity
            android:name="org.sn.securedstorage.SecureFolderActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.sn.securedstorage.WebViewSecuredFileActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.sn.securedstorage.PdfViewSecuredFileActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.sn.securedstorage.AudioViewActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.sn.securedstorage.VideoViewActivity"
            android:label="@string/title_activity_video_view"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="org.sn.securedstorage.AddToSecureIntentService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".rootfeatures.DisableQuickSettingsService"
            android:enabled="true"></service>

        <receiver android:name=".rootfeatures.ScreenOnOffReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
        <service
            android:name="org.sn.services.DownloadSecuredIntentService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="org.sn.securedstorage.SecureSpaceContentProvider"
            android:authorities="com.mobiocean.securedSpace"
            android:exported="false" />
        <!--Secure Storage Ends-->

        <service
            android:name="org.sn.services.UpdateConveyanceService"
            android:exported="false" />

        <receiver android:name=".rootfeatures.GpsReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".rootfeatures.GpsWifiIntentService" />
        <service
            android:name=".rootfeatures.NotificationFileTransferBlockService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name=".rootfeatures.FeatureControlActivity" />

        <service
            android:name=".rootfeatures.ChangeToChargingService"
            android:enabled="true" />

        <receiver android:name=".rootfeatures.UsbReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".service.BatteryWifiInfoService"
            android:enabled="true"></service>
        <!--
            <receiver android:name=".rootfeatures.WifiMobileDataReceiver">  //Feature use
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        -->

    </application>

</manifest>